@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
body {
    font-family: "Montserrat";
    height: 100vh;
    font-weight: 200;
    font-size: 15px;
    
    position: relative;
    background-color: rgb(255, 255, 255);
   }

ul, ol {
    list-style: none;
}
a{
    color:white;
}